@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-shape-divider-bottom-1729236209 {
  position:absolute;
  
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1729236209 svg {
  position: relative;
  
  display: block;
  width: calc(109% + 1.3px);
  height: 250px;
}

.custom-shape-divider-bottom-1729236209 .shape-fill {
  fill: #ffffff;
}

@media only screen and (max-width: 720px) {
  .custom-shape-divider-bottom-1729236209 {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-bottom-1729236209 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 80px;
  }
  
  .custom-shape-divider-bottom-1729236209 .shape-fill {
    fill: #ffffff;
  }
  
}

.fade{
  animation-name: fade;
  animation-duration: 5s;
}
@keyframes fade{
  from{opacity:0;}
  to{opacity:1;}
}
.textup:hover{
  animation-name: textup;
  animation-duration: 500ms;
  animation-delay:0ms;
}
@keyframes textup{
  from{transform: translateY(1rem);}
  to{transform: translateY(0);}
}

.fadeout{
  transition-timing-function: ease-out;
  animation-name: textup;
  animation-duration: 5s;
  animation-delay:0ms;
}
@keyframes textup{
  from{transform: translateY(2rem);
  opacity:0.5;}
  to{transform: translateY(0);
  opacity:1;}
}